@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --branco: #fff;
  --preto: #01030B;
  --cor-primaria: #070D2C;
  --cor-secundaria: #080F33;
  --cor-de-border-box: #788BEB;
  --cor-botao: #112273;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
  color: var(--branco);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3{
  font-size: 2rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
} 

a {
  text-decoration: none;
  color: var(--branco);
}

.centralizar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*header principal*/
#header-principal {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--preto);
  position: fixed;
  
  width: 100%;
}


/*navegação principal*/

/*logo*/
#logo {
  text-transform: uppercase;
}

#navegacao-principal {
  box-sizing: border-box;
  padding: 0 40px;
  width: 100%;
}

#navegacao-principal ul{
  display: flex;
  justify-content: space-between;
}

#navegacao-principal div { 
  display: flex;
}

#navegacao-principal div li {
  padding: 0 12px;
  background: url('../img/svg/divisoria-de-navegacao.svg') right center no-repeat; 
}

/*container*/


/*section apresentação*/
#section-apresentacao {
  width: 100%;
  height: 537px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img/jpg/fundo-container-de-apresentacao.png') no-repeat bottom;
}

/*container apresentação*/
#container-apresentacao {
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
  
}

#container-apresentacao h2{
  font-weight: 400;
  font-size: 1rem;
  width: 415px;
}


#div-primeira-box-do-section-apresentacao {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#container-apresentacao button {
  width: 80%;
  height: 36px;
  margin: auto;
  background-color: var(--cor-botao);
  -webkit-box-shadow: 0px 0px 9.7px 0px rgba(30,59,204,1);
  -moz-box-shadow: 0px 0px 9.7px 0px rgba(30,59,204,1);
  box-shadow: 0px 0px 9.7px 0px rgba(30,59,204,1);
}

#container-apresentacao a{
  display: block;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
}

/*section sobre nós*/
#section-sobre-nos {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--cor-secundaria);
  width: 100%;
  height: 405px;
}


#section-sobre-nos img {
  position:absolute;
  top: 520px;
  left: 100px;
}

#div-sobre-nos-leitura {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 355px;
  margin-right: 156px;
}

#div-sobre-nos-leitura div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*sectino beneficios*/
#sectino-beneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sectino-beneficios>header+div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  gap: 20px;
}

#sectino-beneficios header {
  margin: 230px 0 80px;
  
}

.box-beneficios {
  height: 200px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--cor-de-border-box);
  box-sizing: border-box;
  padding: 55px 35px;
  border-radius: 10px;
}

/*depoimento*/
#section-depoimento {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  background-color: var(--cor-secundaria);
  padding-bottom: 80px;
}

#section-depoimento h3 {
  font-size: 24px;
}

#section-depoimento > header {
  margin-top: 75px;
}


#section-depoimento > header+div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.box-depoimento {
  height: 200px;
  width: 30%;
  box-sizing: border-box;
  padding: 16px 10px 0;
  border: 2px solid var(--cor-de-border-box);
  border-radius: 10px ;
}

.box-depoimento header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.box-depoimento hr{
 border: 1px solid #fff;
 margin: 10px 0;
}

/*increver*/
#section-inscrever {
  height: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#section-inscrever > header {
  text-align: center;
}

#formulario {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#section-inscrever form div {
  display: flex;
  flex-direction: column;
}

#section-inscrever label {
  margin-bottom: 8px;
}

#section-inscrever input {
  width: 477px;
  height: 30px;
  background: none;
  border: 2px solid var(--cor-de-border-box);
  border-radius: 5px;
  color: var(--branco);
  font-size: 16px;
}

#section-inscrever #nome{
  margin-bottom: 24px;
  
}

#section-inscrever button {
  width: 315px;
  height: 54px;
  border: 2px solid var(--cor-de-border-box);
  background-color: none;
  border-radius: 10px;
  margin: auto;
  color: var(--branco);
}

#section-inscrever button:hover {
  width: 315px;
  height: 54px;
  border: none;
  border-radius: 10px;
  margin: auto;
  color: var(--branco);
  cursor: pointer;
  background-color: var(--cor-de-border-box);
  -webkit-box-shadow: 0px 0px 9.7px 0px rgb(3, 3, 4);
  -moz-box-shadow: 0px 0px 9.7px 0px rgba(30,59,204,1);
  box-shadow: 0px 0px 9.7px 0px rgba(30,59,204,1);
}

#section-inscrever button:active {
  width: 315px;
  height: 54px;
  border: 2px solid var(--cor-de-border-box);
  background-color: none;
  border-radius: 10px;
  margin: auto;
  color: var(--branco);
  animation: background-color 0.5s;
}

/*footer*/
footer {
  height: 164px;
  background-color: var(--preto);
  display: flex;
  align-items: center;
}

footer h3 {
  font-size: 16px;
}

footer ul{
  display: flex;
  gap: 8px;
}

footer>div {
  position: relative;
  left: 100px;
}

footer span{
  position: absolute;
  left: 45%;
}

/*Responsividade*/
@media screen and (max-width: 1110px ) {
  #section-sobre-nos img {
    position:absolute;
    top: 520px;
    left: 100px;
    width: 400px;
  }

  #div-sobre-nos-leitura {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 355px;
    margin: 50px;
    
  }
}

@media screen and (max-width: 1000px) {
  #section-sobre-nos img {
    position:absolute;
    top: 520px;
    left: 50px;
    width: 400px;
  }
  
  #sectino-beneficios>header+div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 20px;
  }

  .box-beneficios {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-de-border-box);
    box-sizing: border-box;
    padding: 55px 35px;
    border-radius: 10px;
  }

  #sectino-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  
  #sectino-beneficios header {
    margin: 80px 0;
  }
}

@media screen and (max-width: 860px) {
  #section-sobre-nos img {
    position:absolute;
    top: 520px;
    left: 38px;
    width: 300px;
  }

  #section-sobre-nos {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 284px;
  }

  #div-sobre-nos-leitura {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 88px;
    width: 355px;
  }
}

@media screen and (max-width: 760px){
  #section-sobre-nos img {
    display: none;
  }

  #section-sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 284px;
  }

  #div-sobre-nos-leitura {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 355px;
  }
}

@media screen and (max-width: 700px) {
  .box-beneficios {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-de-border-box);
    box-sizing: border-box;
    padding: 55px 15px;
    border-radius: 10px;
  }

  #section-depoimento > header+div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .box-depoimento {
    height: 200px;
    width: 400px;
    box-sizing: border-box;
    padding: 16px 10px 0;
    border: 2px solid var(--cor-de-border-box);
    border-radius: 10px ;
  }

  #section-inscrever input {
    width: 400px;
    height: 30px;
    background: none;
    border: 2px solid var(--cor-de-border-box);
    border-radius: 5px;
    color: var(--branco);
    font-size: 16px;
  }
}


@media screen and (max-width: 650px) {
  #navegacao-principal div { 
    display: none;
  }
  
  #div-primeira-box-do-section-apresentacao {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: calc(100% - 20px);
  }

  #section-inscrever p {
    width: calc(100% - 20px);
  }
}
