@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --branco: #fff;
  --preto: #01030B;
  --cor-primaira: #070D2C;
  --cor-secundaria: #080F33;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #070D2C;
  color: var(--branco);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3{
  font-size: 2rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
} 

a {
  text-decoration: none;
  color: var(--branco);
}

.centralizar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 100px;
}

/*header principal*/
#header-principal {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--preto);
  position: fixed;
  
  width: 100%;
}


/*navegação principal*/

/*logo*/
#logo {
  text-transform: uppercase;
}

#navegacao-principal {
  box-sizing: border-box;
  padding: 0 40px;
  width: 100%;
}

#navegacao-principal ul{
  display: flex;
  justify-content: space-between;
}

#navegacao-principal div { 
  display: flex;

}

#navegacao-principal div li {
  padding: 0 12px;
  background: url('../img/svg/divisoria-de-navegacao.svg') right center no-repeat; 
}

/*container*/


/*section apresentação*/
#section-apresentacao {
  width: 100%;
  height: 620px;
  padding-top: 50px;
  border: 1px solid var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img/jpg/fundo-container-de-apresentacao.png');
}

/*container apresentção*/
#container-apresentacao {
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 1px solid blue  ;
}

#container-apresentacao h2{
  font-weight: 400;
  font-size: 1rem;
  width: 415px;
}


#div-primeira-box-do-section-apresentacao {
  display: flex;
  
  gap: 10px;
  flex-direction: column;
}

#container-apresentacao button {
  border: 1px solid red;
  width: 80%;
  height: 36px;
  margin: auto;
}

#container-apresentacao a{
  display: block;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
}

/*section sobre nós*/
#section-sobre-nos {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--cor-secundaria);
  width: 100%;
  height: 405px;
}


#section-sobre-nos img {
  position:absolute;
  top: 520px;
  left: 100px;
}

#div-sobre-nos-leitura {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 355px;
  margin-right: 156px;
}

#div-sobre-nos-leitura div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
